* {
    margin: 0;
    padding: 0;
}

#header {
    width: 100%;
    background-color: grey;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#header h1 {
    text-align: center;
    color: #ffffff;
    font-size: 2rem;
}

#header h2 {
    text-align: center;
    padding: 10px;
    font-size: 1.5rem;
}

/* #sectionForm {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
} */

#sectionForm {
    width: 30%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#sectionForm input {
    margin: 15px;
    width: 50%;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

#sectionForm input:focus {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}