@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #222931;
    color: #ffffff;
    font-family: 'robotoregular';
}

#header {
    width: 100%;
    background-color: #2ea043;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#header h1 {
    text-align: center;
    color: #ffffff;
    font-size: 2rem;
}

#header h2 {
    text-align: center;
    padding: 10px;
    font-size: 1.5rem;
}

#section {
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#section label {
    width: 100%;
    text-align: center;
}

#section input {
    margin: 15px;
    height: 25px;
    width: 25%;
    border: none;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#section input:focus {
    outline: none;
    border: 1px solid #2ea043;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

#btnContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#section button {
    width: 15%;
    height: 25px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: #2ea043;
    color: #ffffff;
    border: none;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

#section button:hover {
    cursor: pointer;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

#titleResults {
    width: 100%;
    text-align: center;
    margin-top: 15px;
}

.msg {
    width: 100%;
    text-align: center;
    padding-top: 5px;
}

#triangleContainer {
    text-align: center;
    margin-top: 10px;
    font-size: 1.2rem;
}

@media screen and (min-width: 200px) and (max-width: 640px) {
    #section input {
        width: 75%;
    }

    #section button {
        width: 50%;
    }
}